@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style($background,
  $color,
  $border,
  $hover-border:lighten($border, 10%),
  $hover-background:lighten($background, 7.5),
  $hover-color:$color) {
  background: $background;
  color: $color;
  border: $border;

  &:hover {
    background: $hover-background;
    color: $hover-color;
    border: $hover-border;
  }

  transition: all .3s;
}

@mixin alert-style($background-color, $color, $width, $border-color:lighten($background, 10%)) {
  background-color: $background-color;
  color: $color;
  width: $width;
  border: $border;
}