.upload-list {
  list-style: none;
  .upload-filename-error {
    color: red;
  }
  cursor: pointer;
  &:hover {
    .upload-list__file-icon {
      display: none;
    }
    .upload-list__del-btn {
      display: inline-block;
    }
  }
  .upload-list__del-btn {
    display: none;
  }
}
.drag {
  &.is-drag-over {
    background-color: mix($primary, 0.1);
  }
}
