@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style($background,
  $color,
  $border,
  $hover-border:lighten($border, 10%),
  $hover-background:lighten($background, 7.5),
  $hover-color:$color) {
  background: $background;
  color: $color;
  border: $border;

  &:hover {
    background: $hover-background;
    color: $hover-color;
    border: $hover-border;
  }

  transition: all .3s;
}

@mixin alert-style($background-color, $color, $border-color:lighten($background-color, 10%)) {
  background-color: $background-color;
  color: $color;
  border: 1px solid $border-color;
}

@mixin alert-size($width) {
  width: $width
}

@mixin zoom-animation($direction:'top',
  $localStart:scaleY(0),
  $localEnd:scaleY(1),
  $origin:center top) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $localStart;
    background-color: green;
  }

  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $localEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
    background-color: red;
  }

  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }

  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $localStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
    background-color: blue;
  }
}