@each $key, $val in $theme-colors {
  .progress-inner-theme-#{$key} {
    background: $val;
  }
}
.progress-bar {
  .progress-outer {
    position: relative;
    .progress-inner {
      position: absolute;
      transition: all 0.3s;
    }
  }
}
