.alert {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.alert-success {
  @include alert-style($alert-success-background, $alert-success-color)
}

.alert-large {
  @include alert-style($alert-large-width)
}

.alert-medium {
  @include alert-style($alert-medium-width)
}

.alert-small {
  @include alert-style($alert-small-width)
}

.alert-min {
  @include alert-style($alert-min-width)
}